* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  text-transform: capitalize;
}

/*navbar*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  height: 100px;
  margin: auto;
  position: relative;
  z-index: 5;
}

.navbar img {
  height: 80px;
}
.btn {
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.4s;
}
.btn:hover {
  background-color: red;
}
.btn-red {
  background-color: red;
}
.hero {
  height: 100vh;
  background-image: url(assests/images/banner.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}
.hero-content {
  position: relative;
  z-index: 5;
  height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5%;
}
.hero-content h1 {
  font-size: 50px;
}
.hero-content p {
  font-size: 20px;
  font-weight: 500;
}
.hero-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.hero-buttons input {
  padding: 7px 100px 7px 15px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgb(197, 197, 197);
  border-radius: 4px;
  color: white;
}
.hero-buttons button {
  font-size: 18px;
}

.separator {
  width: 100%;
  border-bottom: 5px solid rgb(54, 54, 54);
  height: 0;
}

.layer {
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.6;
}

.info-area {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
}
.info-area .info-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-area .info-text p {
  font-size: 20px;
  padding: 5px;
}

.info-area .info-image {
  position: relative;
}
.info-area .info-image img {
  width: 100%;
}

.info-area .info-image video {
  position: absolute;
  top: 20%;
  left: 13%;
  width: 73%;
}

/*SSS*/
.faq-area {
  padding: 35px;
  text-align: center;
}
.faq-area h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.faq-box-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 40px;
}
.faq-box {
  background-color: #272727;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin: auto;
  padding: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.faq-box:hover {
  background-color: #202020;
}

.footer {
  max-width: 60vw;
  margin: auto;
  padding: 24px;
}
.footer .questions {
  font-size: 25px;
  margin-bottom: 50px;
}
.footer-item-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.footer-item {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}
.footer-item a {
  color: white;
  font-size: 18px;
  transition: all 0.2s;
}

.footer-item a:hover {
  background-color: red;
}

@media (max-width: 700px) {
  .btn {
    font-size: 12px;
  }
  .navbar {
    width: 90vw;
  }
  .hero-buttons {
    display: flex;
    flex-direction: column;
  }
  .hero-content h1 {
    font-size: 20px;
  }
  .hero-content p {
    font-size: 12px;
  }
  .info-area {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .info-image img {
    width: 300px !important;
  }
  .info-image video {
    width: 250px;
  }
  .info-area h1 {
    font-size: 24px;
  }
  .info-area p {
    font-size: 14px;
  }
  .faq-area {
    font: 24px;
  }
}
@media (max-width: 1000px) {
  .info-area {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
}
